<h3>{{message}}</h3>
<h1>Slides Available</h1>
<div>
  <div>
    <form [formGroup]="find">
      <h2>
        <input type="text" id="searchvalue" formControlName="searchvalue" placeholder="search">
        <button type="button" (click)="search()">search</button> 
      </h2>
    </form>
</div>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Slide Type</th>
    <th>Color</th>
    <th>Size</th>
    <th>Gender</th>
    <th>Description</th>
    <th>Image URLs</th>
    <th>Price</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let s of data">
    <td>{{ s.name }}</td>
    <td>{{ s.brand }}</td>
    <td>{{s.slidesType}}</td>
    <td>
      <ul>
        <li *ngFor="let c of s.color">{{ c }}</li>
      </ul>
    </td>
    <td>
      <ul>
        <li *ngFor="let m of s.size">{{m}}</li>
      </ul>
    </td>
    <td>{{ s.gender }}</td>
    <td>{{ s.description }}</td>
    <td>
      <div class="image-slider">
        <ul>
          <li *ngFor="let imageUrl of s.imageUrl">
            <img [src]="imageUrl" alt="Slides Image">
          </li>
        </ul>
      </div>
    </td>
    <td>
      {{s.price}}.RS
    </td>
    
    <td><a [routerLink]="['update',s.id]">Update</a></td>
    <td><button (click)="delete(s.id)">Delete</button></td>
  </tr>
</table>
<a routerLink="add">Add new Slide</a>